@import "../base";

nav {
  text-align: center;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid rgba(black, 0.25);
    p {
      text-align: left;
      margin: 0;
      font-weight: lighter;
      font-size: small;
      padding-left: 1rem;
    }
    li {
      display: inline-block;
      &:hover {
        font-weight: bold;
      }
      a {
        display: block;
        color: $text-color;
        font-weight: lighter;
        text-decoration: none;
        padding: 0.5rem 1rem;
        height: 2rem;
        line-height: 2rem;
      }
    }
  }
}
